@import url(./font/stylesheet.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");


body{
    overflow-x:hidden;
}

/*--------Nav bar starts here -----*/
.nav-item {

  font-size: 1rem;
  font-weight:400;
  padding: 5px;
}
nav ul li:hover {
  border-bottom: 1px solid white;
  color: white;
}
.navbar {
  background: linear-gradient(180deg, #FF05BD 0%, #E6017E 100%);
  height:auto;
  width: auto;
}

nav ul li{

    color: white;
    margin: 10px;
}

.navbar-brand{

    font-size: 3rem;
    font-weight: bold;
    margin-left: 20px;

}

.flag {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.text {
  font-family: "D-DIN Condensed";
  color:white;
  font-size: bold;
}
.call {
    font-family: "D-DIN Condensed";
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
    color: white;
    text-align: right;
  }

/* --------Header Goes From Here--------- */

.headerBg {
   object-fit: cover;
   opacity: 1;
   height: 500px;
   width: 100%;
}

/*---------          Navigation Tabs Here          -------*/


/*--------- Tabs CSS Starts here ---------*/
.content{
  width: 600px;
  align-self: center;
  height: auto;
  margin: -25% auto 0 auto;
  padding: 30px;

}
.nav-pills{
  width: auto;
  padding-bottom: 20px;
  
}

.nav-pills .nav-link{
  font-weight: bold;
  background: #eae8e9;
  color: grey;
  border-radius: 15px;
  height: 100px;
  padding-top: 13px;
  text-align: left;
}

.nav-pills .nav-link.active{
  background: linear-gradient(180deg, #FF05BD 0%, #E6017E 100%);
  color:#0EF909;
}
.tab-content{
  position: absolute;
  width: 600px;
  background:url(./assets/map.png);
  background-color: #ff0f8fda;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -45px;
  margin-left: -30px ;
  color: #000;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin-bottom: 50px;
}


/*------- Toggler Tabs -------*/
.toggleContainer{

  background-color: white;
  height:auto;
  width:350px;
  border-radius: 10px;
  align-self: center;
  margin: 0 auto;
  box-shadow: 0px 10px 10px rgba(44, 44, 44, 0.4);
}

.toggleBtn{
 
  text-decoration: none;
  padding:10px ;
  color: grey;
  font-size: bold;
  font-family: sans-serif;
  background-color: white;
  border:none;
  font-size: 0.8rem;
  font-weight:bold ;
  border-radius: 10px;

}

.toggleBtn-active{

  background:#FF0F8E;
  color: #0EF909;
  border-radius: 10px;
  border: 2px solid white;
  text-decoration: none;
  padding:10px ;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
}



 .green{
  color: #0EF909;
 }

 .pagination {
  display: inline-block;
}

.pagination a {
  color:white;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1.5px solid #fff;
  font-family: 'D-DIN Condensed';
} 

.pagination a:nth-child(1){

  border-radius:5px 0 0 5px ;
}
.pagination a:last-child{
 
background-color: white;
}
.pagination a.active {
  background-color: #fff;
  color: #FF0F8E;
  border: 1.5px solid white;
}

.pagination a:hover:not(.active) 
{
  background-color: #ddd;
}

.btn-success{
  background-color: #0EF909;
  color: black;
  border:none;
  width: 10rem;
  padding: 0 auto;
  margin: 10px;
  font-weight: 700;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
input::placeholder{

 font-size: 15px;
 font-weight: 600;

}

select{

  font-size: 15px;
  font-weight: 600;
 
}
.btn-success:hover{
  background-color: white; 
  color: #0EF909;
}

.pinkBtn{

  background: #FF0F8E;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 0 auto;
  width:8rem; 
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
}

.pinkHead{

  font-family: 'D-DIN Condensed';
  font-weight: bold;
  color:#FF0F8E;
}

.pink{
  
  color:#FF0F8E;

}
 .smallText{
   font-size: 14px;
   text-align: left;
 }

 .container-ticket{
  align-content: center;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 10px 10px rgba(44, 44, 44, 0.4);
 }
 .mobile-nav{
  position: fixed;
  bottom: 0;
  float: initial;
  left: 0;
  background-color:#fff;
  width: auto;
  height: 60px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 10px 10px rgba(44, 44, 44, 0.4);
  
}
.paneChangebtn-left {

  background-color: white;
  color: #0EF909;
  border-radius: 15px 0 0 0;
}
.paneChangebtn-right {

  background-color:white;
  color: #0EF909;
  border-radius: 0 15px 0 0;
}

.activePane{
  background-color:#FF0F8E;
  border: white solid 2px;
  box-shadow: inset 0px 10px 10px rgba(122, 122, 122, 0.466);
}

.activePane button{
  color: #fff; 
 
}

/* ---- Media Queries Starts Here------- */

@media (orientation: portrait) {
    .flag {
      display: none ;
       }
    .navbar-collapse{
        margin-bottom:  10px;
    } 
    .tab-content{
      width:auto;
      top: 260px;
      margin: 5px ;
      left: 0;
      right: 0;
    } 
    .content{
      width: auto;
      margin: auto;
      padding: auto;
    }
    .pinkBtn{
      width: 5rem;
    }
    .toggleContainer{
        width: auto;
        font-size: 0.8rem;
    }
    .toggleBtn-active{
      font-size: 0.9rem;
    }
    .nav-pills{
      display: none;
    }
    .navbar-brand{

      font-size: 2.5rem;
    }
    .tab-pane {
      margin-bottom: 50px;
    }
  }