@import url(./font/stylesheet.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");


body{
    overflow-x:hidden;
}

/*--------Nav bar starts here -----*/
.nav-item {

  font-size: 1rem;
  font-weight:400;
  padding: 5px;
}
nav ul li:hover {
  border-bottom: 1px solid white;
  color: white;
}
.navbar {
  background: linear-gradient(180deg, #FF05BD 0%, #E6017E 100%);
  height:auto;
  width: auto;
}

nav ul li{

    color: white;
    margin: 10px;
}

.navbar-brand{

    font-size: 3rem;
    font-weight: bold;
    margin-left: 20px;

}

.flag {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.text {
  font-family: "D-DIN Condensed";
  color:white;
  font-size: bold;
}
.call {
    font-family: "D-DIN Condensed";
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
    color: white;
    text-align: right;
  }

/* --------Header Goes From Here--------- */

.headerBg {
   object-fit: cover;
   opacity: 1;
   height: 500px;
   width: 100vw;
}

/*---------Navigation Tabs Here -------*/


/*--------- Tabs CSS Starts here ---------*/
.content{
  width: 455px;
  align-self: center;
  height: auto;
  margin: -25% auto 0 auto;
  padding: 30px;

}
.nav-pills{
  width: auto;
  padding-bottom: 20px;
  
}

.nav-pills .nav-link{
  font-weight: bold;
  margin: 0;
  text-align: center;
  background: #eae8e9;
  color: grey;
  border-radius: 15px;
  height: 100px;
  text-align: left;
}
.nav-pills .nav-link.active{
  background: linear-gradient(180deg, #FF05BD 0%, #E6017E 100%);
  color:#20e919;
}
.tab-content{
  position: absolute;
  width: 600px;
  background:linear-gradient(180deg, #FF05BD99 0%, #E6017E99 50%),url(./assets/map.png);
  height: auto;
  margin-top: -45px;
  margin-left: -30px ;
  color: #000;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin-bottom: 50px;
}


/*------- Toggler Tabs -------*/
.toggleContainer{

  background-color: white;
  height:auto;
  width:350px;
  border-radius: 10px;
  margin: 10% 10%;
  box-shadow: 0px 10px 10px rgba(44, 44, 44, 0.4);
}

.toggleBtn{
 
  text-decoration: none;
  padding:10px ;
  color: grey;
  font-size: bold;
  font-family: sans-serif;
  background-color: white;
  border:none;
  font-size: 0.8rem;
  font-weight:bold ;
  border-radius: 10px;

}

.toggleBtn-active{

  background:linear-gradient(180deg, #FF05BD 0%, #E6017E 100%);
  color: #20e919;
  border-radius: 10px;
  border: 2px solid white;
  text-decoration: none;
  padding:10px ;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
}



 .green{
  color: #20e919;
 }

 .pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #20e919;
  color: white;
  border: 1px solid #20e919;
}

.pagination a:hover:not(.active) 
{
  background-color: #ddd;
}

.btn-success{
  background-color:#20e919 ;
  color: black;
  border:none;
  padding: 0 auto;
}

.pinkBtn{

  background: linear-gradient(180deg, #FF05BD 0%, #E6017E 100%);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 0 15%;
}

.pinkHead{

  font-family: 'D-DIN Condensed';
  font-weight: bold;
  color:#E6017E;
}
 .smallText{
   font-size: 14px;
   text-align: left;
 }


/* ---- Media Queries Starts Here------- */

@media (orientation: portrait) {
    .flag {
      display: none ;
       }
    .navbar-collapse{
        margin-bottom:  10px;
    }   
  }